.image-slider {
  &--click {
    display: flex;
    flex-direction: row;

    width: 100%;

    scroll-behavior: smooth;
    overflow: hidden;
  }

  &--drag {
    display: flex;
    flex-direction: row;

    width: 100%;

    scroll-behavior: smooth;
    overflow-x: auto;
  }
}