<div #imageSlider class='image-slider'>
  <div *ngIf='slideMode === "CLICK"' class='image-slider--click'>
    <ng-content></ng-content>
  </div>

  <div *ngIf='slideMode === "DRAG"' class='image-slider--drag'>
    <ng-content></ng-content>
  </div>
</div>