<div class='con'>
  <div class='con__wrapper'>
    <div class='con__wrapper__title'>
      <h1>{{pageTexts.YOUR_DONATION_HISTORY()}}</h1>
      <h3>{{pageTexts.YOUR_DONATION_HISTORY_MESSAGE()}}</h3>
    </div>
    <div class='con__wrapper__table'>
      <div class='con__wrapper__table__con'>
        <nz-table #basicTable [nzLoading]='isTableLoading' [nzData]="userDonationHistory">
          <thead>
            <tr>
              <th>{{pageTexts.NO()}}</th>
              <th>{{pageTexts.AMOUNT()}}</th>
              <th>{{pageTexts.CURRENCY()}}</th>
              <th>{{pageTexts.MESSAGE()}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index">
              <td>{{i + 1}}</td>
              <td>{{data.amount}}</td>
              <td>{{data.currency}}</td>
              <td>{{data.message}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>