.con {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  padding: 20px;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      margin-bottom: 20px;

      h1, h3 {
        text-align: center;
      }

      h1 {
        margin-bottom: 20px !important;
      }
    }

    &__table {
      width: 100%;

      overflow-x: auto;

      &__con {
        min-width: 700px;
      }
    }
  }
}