<div class='con pointer'>
  <img [src]='pet.imgUrl || "assets/images/sample_pet_img.jpg"'/>

  <div class='con__pet-info'>
    <h3>{{pet.name}}</h3>
    <div class='con__pet-info__sex-age'>
      <p>{{pet.sex}}</p>
      <p class='separator'>|</p>
      <p>{{pet.age}}</p>
    </div>
    <p>{{pet.breed}}</p>
  </div>

  <div class='con__view-more'>
    <h3>{{pageTexts.VIEW_MORE_DETAILS()}}</h3>
    <i nz-icon nzType="down" nzTheme="outline"></i>
  </div>
</div>