@import 'colors';


.con {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }

  &__pet-info {
    width: 100%;

    h3 {
      font-size: 24px;
      text-align: center;
    }

    &__sex-age {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      .separator {
        margin: 0px 5px !important;
      }
    }

    span, p {
      font-size: 16px;
      text-align: center;
    }
  }

  &__view-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;

    h3 {
      color: $main-green;
    }

    i {
      margin-left: 5px;
      color: $main-green;
    }
  }
}