

.con {
  width: 100%;

  display: flex;
  flex-direction: column;

  &__controll-center {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;

    >hr {
      width: 100%;
      border: 0.5px solid lightgray;
    }

    &__form {
      &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &__input {
          width: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;

          width: 300px;
          height: 50px;
          padding: 5px 0px;
  
          nz-form-label {
            width: 150px;
          }

          input, nz-select {
            width: 150px;
          }
        }
      }
    }

  }

  &__table {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;

    &__con {
      min-width: 1000px;

      th {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .con {
    &__controll-center {

      &__form {
        &__row {
          &__input {
            width: 100%;

            nz-form-label {
              width: 120px;
            }
  
            input, nz-select {
              width: calc(100% - 120px);
            }
          }
        }
      }
  
    }
  }
}