<div class='con'>
  <div class='con__controll-center'>
    <h2>{{pageTexts.FILTER()}}</h2>
    <hr>

    <i *ngIf='isFilterFormLoading' nz-icon nzType="loading" nzTheme="outline"></i>

    <form
      *ngIf='!isFilterFormLoading'
      [formGroup]='paginatePostsForm'
      nz-form
      class='con__controll-center__form'
      (ngSubmit)='submitForm()'
    >
      <div class='con__controll-center__form__row'>
        <div class='con__controll-center__form__row__input'>
          <nz-form-control>
            <nz-form-label>{{pageTexts.POST_TYPE()}}</nz-form-label>
            <nz-select formControlName="postType">
              <nz-option
                *ngFor='let item of allPostTypes'
                [nzValue]="item.id"
                [nzLabel]="item.name"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
  
        <div class='con__controll-center__form__row__input'>
          <nz-form-control>
            <nz-form-label>{{pageTexts.PET_TYPE()}}</nz-form-label>
            <nz-select formControlName="petType">
              <nz-option
                *ngFor='let item of allPetTypes'
                [nzValue]="item.id"
                [nzLabel]="item.name"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
  
        <div class='con__controll-center__form__row__input'>
          <nz-form-control>
            <nz-form-label>{{pageTexts.TITLE()}}</nz-form-label>
            <input nz-input formControlName="title" placeholder='Abcd...' />
          </nz-form-control>
        </div>
      </div>
    </form>

  </div>

  <div class='con__table'>
    <div class='con__table__con'>
      <nz-table #userHistoryTable [nzLoading]='isTableLoading' [nzBordered]='true' [nzData]="userHistoryPosts">
        <thead>
          <tr>
            <th nzWidth='60px'>{{pageTexts.NO()}}</th>
            <th nzWidth='135px'>{{pageTexts.POST_TYPE()}}</th>
            <th nzWidth='165px'>{{pageTexts.POST_DATE()}}</th>
            <th nzWidth='120px'>{{pageTexts.PET_TYPE()}}</th>
            <th nzWidth='300px'>{{pageTexts.TITLE()}}</th>
            <th nzWidth='170px'>{{pageTexts.ACTION()}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userHistoryTable.data; let i = index">
            <td style='text-align: center;'>{{ i + 1 }}</td>
            <td>{{ data.postType }}</td>
            <td>{{ data.postDate | date: 'd/M/y h:mm a' }}</td>
            <td>{{ data.petType }}</td>
            <td>{{ data.title }}</td>
            <td style="text-align: center;">
              <a [routerLink]="['/my-account/posts/update/' + data.id]">{{pageTexts.UPDATE()}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)='onConfirmDeletePost()'>{{pageTexts.DELETE()}}</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>