@import 'fonts';

.ant-dropdown-menu {
  &-submenu {
    &-title {
      font-family: $default-font-family;
    }

    &-item {
      font-family: $default-font-family;      
    }
  }

  &-item {
    font-family: $default-font-family;
  }
}

.obscure {
  filter: contrast(0.3);
}

.flex {
  display: flex;

  &-row {
    display: flex;
    flex-direction: row;

    &--justify-center {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &--align-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-col {
    display: flex;
    flex-direction: column;

    &--justify-center {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--align-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

.gray-hr {
  border-top: 1px solid lightgray;
  border-radius: 5px;
}

.no-outline {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}