@font-face {
  font-family: microsslv;
  src: url('/assets/fonts/microsslv.ttf');
}

@font-face {
  font-family: floral;
  src: url('/assets/fonts/floral.ttf');
}

@font-face {
  font-family: pala;
  src: url('/assets/fonts/pala.ttf');
}

@font-face {
  font-family: tahoma;
  src: url('/assets/fonts/tahoma.ttf');
}

@font-face {
  font-family: times;
  src: url('/assets/fonts/times.ttf');
}

@font-face {
  font-family: trebuc;
  src: 'assets/fonts/trebuc.ttf';
}

$default-font-family: 'microsslv', 'trebuc', sans-serif;