@import 'colors';

.create-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  &__con {
    width: 100%;
    align-self: center;
    background-color: white;

    display: flex;
    flex-direction: column;

    >h1 {
      align-self: center;
    }

    &__title {
      height: 150px;
    }

    &__form {
      background-color: $main-background;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 40px;

      &__con {
        background-color: white;
        padding: 30px;
        width: 60%;
        border-radius: .25rem;
        border: 1px solid #d8d8d8;
        box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
        margin-top: -40px !important;
        
        &__steps-con {
          margin-bottom: 50px;
        }
      }
    }
  }
}