<div class='create-project'>
  <div class='create-project__con'>
    <div class='create-project__con__title flex-row--justify-center--align-center'>
      <h1>{{pageTexts.DESCRIBE_WHAT_NEED_DONE()}}</h1>
    </div>

    <div class='create-project__con__form'>
      <div class='create-project__con__form__con'>
        <div class='create-project__con__form__con__steps-con'>
          <nz-steps [nzCurrent]="currentFormStep">
            <nz-step nzTitle="{{pageTexts.PROJECT_INFO()}}"></nz-step>
            <nz-step nzTitle="{{pageTexts.OPTIONS()}}"> </nz-step>
            <nz-step nzTitle="{{pageTexts.PREVIEW()}}"></nz-step>
            <nz-step nzTitle="{{pageTexts.FINISH()}}"></nz-step>
          </nz-steps>
        </div>
    
        <div class='create-project__con__form__con__tabs-con'>
          <app-create-project-tabs
            (goNextTab)='handleGoNextStep()'
            (goPreviousTab)='handleGoPreviousStep()'
          ></app-create-project-tabs>
        </div>
      </div>
    </div>
  </div>
</div>