@import 'colors';

$wrapper-width-desktop: 90%;
$wrapper-width-mobile: 80%;

.container {
  width: 100%;
  height: fit-content;
  background-color: $gray-background;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .con {
    width: 80%;
    margin: 30px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__controll-center {
      width: $wrapper-width-desktop;
      display: flex;
      flex-direction: column;
      background-color: white;
  
      >hr {
        width: 100%;
        border: 0.5px solid lightgray;
      }
  
      &__form {
        &__row {
          width: 100%;
          padding: 10px 0px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
  
          &__input {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            flex-grow: 1;

            min-width: 270px;
            max-width: min(300px, 50%);
            height: 50px;
            padding: 5px 20px;
    
            nz-form-label {
              width: 120px;
            }
  
            input, nz-select {
              min-width: calc(100% - 120px);
            }
          }
        }
      }
  
      &__additional-filter {
        width: 100%;
        margin-top: 20px;
        height: fit-content;
  
        display: flex;
        flex-direction: column;
  
        button {
          width: 120px;
        }
  
        &__con {
          width: 100%;
          padding: 10px 0px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
  
          &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
  
            width: calc(100% / 4);
            height: 50px;
            padding: 5px 20px;
  
            &__delete-btn {
              height: 32px;
              width: 32px;
              padding: 8px;
              margin-left: 20px;
              border: 0.5px dotted darkgray;
              border-radius: 50%;
              background-color: whitesmoke;
  
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
  
              i {
                color: red;
              }
            }
  
            span {
              margin-top: -10px !important;
              padding: 0 20px 0 12px !important;
            }
          }
        }
      }
  
    }
  
    &__pagination-result {
      display: flex;
      flex-direction: row;
      width: $wrapper-width-desktop;
      justify-content: flex-end;
    }
  
    &__search-result {
      margin-top: 20px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: $wrapper-width-desktop;
  
      &__item {
        max-height: 450px;
        min-width: 250px;
        width: 25%;
        max-width: 300px;
        margin: 0;
  
        padding: 15px;
        transition: .1s ease-out;

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 0 8px rgb(0 0 0 / 15%);
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .con {
    &__controll-center {
      width: $wrapper-width-mobile;

      &__form {
        &__row {
          flex-direction: column !important;

          &__input {
            width: 100% !important;
            height: 80px !important;

            padding: 0px !important;

            min-width: 100% !important;

            nz-form-label {
              width: fit-content !important;

            }
  
            input, nz-select {
              width: 100% !important
            }
          }
        }
      }

      &__additional-filter {
        &__con {
          &__item {
            flex-direction: row;
  
            width: 100% !important;
            padding: 0px !important;
            height: 50px;

            nz-cascader {
              width: calc(100% - 52px);
            }

            &__delete-btn {
              height: 32px;
              width: 32px;
              padding: 8px;
              margin-left: 20px;
              border: 0.5px dotted darkgray;
              border-radius: 50%;
              background-color: whitesmoke;
  
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
  
              i {
                color: red;
              }
            }
          }
        }
      }
  
    }

    &__pagination-result {
      width: $wrapper-width-mobile;
      justify-content: center;
    }

    &__search-result {
      justify-content: center !important;

      &__item {
        width: 90% !important;
        margin-bottom: 20px !important;
        max-width: unset !important;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .con {
    &__controll-center {
      width: $wrapper-width-mobile;

      &__form {
        &__row {
          &__input {
            width: calc(100% / 2) !important;

            nz-form-label {
              width: 120px;
            }

            min-width: 100% !important;
  
            input, nz-select {
              width: calc(100% - 120px);
            }
          }
        }
      }

      &__additional-filter {
        &__con {

          &__item {
            flex-direction: row;
  
            width: calc(100% / 2) !important;
            height: 50px;

            nz-cascader {
              width: calc(100% - 52px);
            }

            &__delete-btn {
              height: 32px;
              width: 32px;
              padding: 8px;
              margin-left: 20px;
              border: 0.5px dotted darkgray;
              border-radius: 50%;
              background-color: whitesmoke;
  
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
  
              i {
                color: red;
              }
            }
          }
        }
      }
  
    }

    &__pagination-result {
      width: $wrapper-width-mobile;
      justify-content: center;
    }

    &__search-result {
      &__item {
        width: 100%;
        max-width: unset;
      }
    }
  }
}