<div class='container'>
  <div class='con'>
    <div class='con__controll-center'>
      <i *ngIf='isFilterFormLoading' style="font-size: 25px" nz-icon nzType="loading" nzTheme="outline"></i>
  
      <form
        *ngIf='!isFilterFormLoading'
        [formGroup]='paginatePetsFormGroup'
        nz-form
        class='con__controll-center__form'
        (ngSubmit)='submitForm()'
      >
        <div class='con__controll-center__form__row'>
          <div class='con__controll-center__form__row__input'>
            <nz-form-control>
              <nz-form-label>{{pageTexts.PURPOSE()}}</nz-form-label>
              <nz-select formControlName="purpose">
                <nz-option
                  nzValue='findLost'
                  [nzLabel]='pageTexts.FIND_LOST()'
                >
                </nz-option>
                <nz-option
                  nzValue='adopt'
                  [nzLabel]='pageTexts.ADOPT()'
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>

          <div class='con__controll-center__form__row__input'>
            <nz-form-control>
              <nz-form-label>{{pageTexts.LOCATIONS()}}</nz-form-label>
              <nz-select formControlName="locationId">
                <nz-option
                  *ngFor='let location of allLocations'
                  [nzValue]="location.id"
                  [nzLabel]="location.name"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>
    
          <div class='con__controll-center__form__row__input'>
            <nz-form-control>
              <nz-form-label>{{pageTexts.PET_TYPE()}}</nz-form-label>
              <nz-select formControlName="typeId">
                <nz-option
                  *ngFor='let petType of allPetTypes'
                  [nzValue]="petType.id"
                  [nzLabel]="petType.name"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>
    
          <div class='con__controll-center__form__row__input'>
            <nz-form-control>
              <nz-form-label>{{pageTexts.SEX_TYPE()}}</nz-form-label>
              <nz-select formControlName="sexId">
                <nz-option
                  *ngFor='let sexType of allSexTypes'
                  [nzValue]="sexType.id"
                  [nzLabel]="sexType.name"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>

          <div class='con__controll-center__form__row__input'>
            <nz-form-control>
              <nz-form-label>{{pageTexts.PET_BREED()}}</nz-form-label>
              <nz-select formControlName="sexId">
                <nz-option
                  *ngFor='let sexType of allPetBreeds'
                  [nzValue]="sexType.id"
                  [nzLabel]="sexType.name"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>

          <div class='con__controll-center__form__row__input'>
            <nz-form-control>
              <nz-form-label>{{pageTexts.PET_AGE()}}</nz-form-label>
              <nz-select formControlName="sexId">
                <nz-option
                  *ngFor='let sexType of allPetAges'
                  [nzValue]="sexType.id"
                  [nzLabel]="sexType.name"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>

          <div class='con__controll-center__form__row__input'>
            <nz-form-control>
              <nz-form-label>{{pageTexts.PET_SIZE()}}</nz-form-label>
              <nz-select formControlName="sexId">
                <nz-option
                  *ngFor='let sexType of allPetSizes'
                  [nzValue]="sexType.id"
                  [nzLabel]="sexType.name"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </form>
  
    </div>
  
    <div class='con__pagination-result'>
      <nz-pagination [nzPageIndex]="currentPage" [nzPageSize]='10' (nzPageIndexChange)="handlePageIndexChange($event)" [nzTotal]="totalCount"></nz-pagination>
    </div>
  
    <div *ngIf='findPetsResult.length' class='con__search-result'>
      <div
        *ngFor='let petDTO of findPetsResult'
        class='con__search-result__item no-outline'
        [routerLink]="['/home/pets/detail/' + petDTO.id]"
      >
        <app-home-pet-card
          [pet]='petDTO'
        ></app-home-pet-card>
      </div>
    </div>

    <div style='margin-top: 20px;' class='con__pagination-result'>
      <nz-pagination [nzPageIndex]="currentPage" [nzPageSize]='10' (nzPageIndexChange)="handlePageIndexChange($event)" [nzTotal]="totalCount"></nz-pagination>
    </div>
  </div>
</div>

<app-scroll-top></app-scroll-top>