<div class='user-profile'>
  <div *ngIf='isLoadingProfile' class='user-profile__con'>
    <i style='font-size: 20px;' nz-icon nzType="loading" nzTheme="outline"></i>
  </div>

  <div *ngIf='!isLoadingProfile' class='user-profile__con'>
    <div class='user-profile__con__title flex-row--justify-center--align-center'>
      <h1>{{pageTexts.YOUR_PROFILE()}}</h1>
    </div>

    <form [formGroup]='updateProfileForm' class='user-profile__con__form'>
      <div class='user-profile__con__form__general-info'>
        <div class='user-profile__con__form__general-info__image'>
          <img id='userImage' [src]='userImageUrl || userProfile.avatarUrl || "/assets/images/person_6x8.png"' />
          <i *ngIf='isUploadingImage' style='font-size: 20px; margin-top: 20px;' nz-icon nzType="loading" nzTheme="outline"></i>
          <button style="margin-top: 20px;" (click)='newAvatarInput.click()' nz-button nzType="primary">{{pageTexts.CHANGE_AVATAR()}}</button>
          <input type='file' style='display: none' (change)='handleFileChange($event)' #newAvatarInput />
        </div>
        <div class='user-profile__con__form__general-info__form'>

          <div class='user-profile__con__form__general-info__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
              <nz-form-control [nzErrorTip]='getErrorMessageForFormControl("email")'>
                <input nz-input [placeholder]='pageTexts.TYPE_EMAIL()' formControlName="email" />
              </nz-form-control>
            </nz-form-item>

            <ng-container *ngIf='isFormControlReadyUpdate("email")'>
              <button nz-button (click)='handleUpdateGeneralInfo("email")' [nzLoading]='isFormControlLoading("email")' class='readyUpdate' nzType="primary">{{pageTexts.SAVE()}}</button>
            </ng-container>

            <ng-container *ngIf='!isFormControlReadyUpdate("email")'>
              <button nz-button (click)='toggleUpdateField("email")' nzType="primary">{{pageTexts.UPDATE()}}</button>
            </ng-container>
          </div>

          <div class='user-profile__con__form__general-info__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="fullName">{{pageTexts.FULL_NAME()}}</nz-form-label>
              <nz-form-control [nzErrorTip]='getErrorMessageForFormControl("fullName")'>
                <input nz-input [placeholder]='pageTexts.TYPE_FULL_NAME()' formControlName="fullName" />
              </nz-form-control>
            </nz-form-item>

            <ng-container *ngIf='isFormControlReadyUpdate("fullName")'>
              <button nz-button (click)='handleUpdateGeneralInfo("fullName")' [nzLoading]='isFormControlLoading("fullName")' class='readyUpdate' nzType="primary">{{pageTexts.SAVE()}}</button>
            </ng-container>

            <ng-container *ngIf='!isFormControlReadyUpdate("fullName")'>
              <button nz-button (click)='toggleUpdateField("fullName")' nzType="primary">{{pageTexts.UPDATE()}}</button>
            </ng-container>
          </div>

          <div class='user-profile__con__form__general-info__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="phoneNumber">{{pageTexts.PHONE_NUMBER()}}</nz-form-label>
              <nz-form-control [nzErrorTip]='getErrorMessageForFormControl("phoneNumber")'>
                <input nz-input [placeholder]='pageTexts.TYPE_PHONE_NUMBER()' formControlName="phoneNumber" />
              </nz-form-control>
            </nz-form-item>

            <ng-container *ngIf='isFormControlReadyUpdate("phoneNumber")'>
              <button nz-button (click)='handleUpdateGeneralInfo("phoneNumber")' [nzLoading]='isFormControlLoading("phoneNumber")' class='readyUpdate' nzType="primary">{{pageTexts.SAVE()}}</button>
            </ng-container>

            <ng-container *ngIf='!isFormControlReadyUpdate("phoneNumber")'>
              <button nz-button (click)='toggleUpdateField("phoneNumber")' nzType="primary">{{pageTexts.UPDATE()}}</button>
            </ng-container>
          </div>

          <div class='user-profile__con__form__general-info__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">{{pageTexts.ADDRESS()}}</nz-form-label>
              <nz-form-control [nzErrorTip]='getErrorMessageForFormControl("address")'>
                <input nz-input [placeholder]='pageTexts.TYPE_ADDRESS()' formControlName="address" />
              </nz-form-control>
            </nz-form-item>

            <ng-container *ngIf='isFormControlReadyUpdate("address")'>
              <button nz-button (click)='handleUpdateGeneralInfo("address")' [nzLoading]='isFormControlLoading("address")' class='readyUpdate' nzType="primary">{{pageTexts.SAVE()}}</button>
            </ng-container>

            <ng-container *ngIf='!isFormControlReadyUpdate("address")'>
              <button nz-button (click)='toggleUpdateField("address")' nzType="primary">{{pageTexts.UPDATE()}}</button>
            </ng-container>
          </div>

          <div class='user-profile__con__form__general-info__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="userTypeId">{{pageTexts.USER_TYPE()}}</nz-form-label>
              <nz-select [nzPlaceHolder]="pageTexts.SELECT_USER_TYPE()" formControlName='userTypeId' id='postTypeId'>
                <nz-option
                  *ngFor='let option of userTypes'
                  [nzLabel]='option.name'
                  [nzValue]='option.id'
                ></nz-option>
              </nz-select>
            </nz-form-item>

            <ng-container *ngIf='this.isUserAdmin && ("userTypeId")'>
              <button nz-button (click)='handleUpdateGeneralInfo("userTypeId")' [nzLoading]='isFormControlLoading("userTypeId")' class='readyUpdate' nzType="primary">{{pageTexts.SAVE()}}</button>
            </ng-container>

            <ng-container *ngIf='this.isUserAdmin && !isFormControlReadyUpdate("userTypeId")'>
              <button nz-button (click)='toggleUpdateField("userTypeId")' nzType="primary">{{pageTexts.UPDATE()}}</button>
            </ng-container>
          </div>

          <div class='user-profile__con__form__general-info__form__row'>
            <nz-form-item>
              <nz-form-label nzFor="bio">{{pageTexts.BIO()}}</nz-form-label>
              <nz-form-control [nzErrorTip]='getErrorMessageForFormControl("bio")'>
                <textarea class='bio-input' nz-input formControlName='bio' id='bio' [placeholder]='pageTexts.TYPE_BIO()'></textarea>
              </nz-form-control>
            </nz-form-item>

            <ng-container *ngIf='isFormControlReadyUpdate("bio")'>
              <button nz-button (click)='handleUpdateGeneralInfo("bio")' [nzLoading]='isFormControlLoading("bio")' class='readyUpdate' nzType="primary">{{pageTexts.SAVE()}}</button>
            </ng-container>

            <ng-container *ngIf='!isFormControlReadyUpdate("bio")'>
              <button nz-button (click)='toggleUpdateField("bio")' nzType="primary">{{pageTexts.UPDATE()}}</button>
            </ng-container>
          </div>


        </div>
      </div>
    </form>

    <div class='user-profile__con__title flex-row--justify-center--align-center'>
      <h1>{{pageTexts.SECURITY()}}</h1>
    </div>

    <form [formGroup]='userSecurityForm' class='user-profile__con__form'>
      <div class='user-profile__con__form__security'>
        <div class='user-profile__con__form__security__form'>

          <div class='user-profile__con__form__security__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="currentPassword">{{pageTexts.PASSWORD()}}</nz-form-label>
              <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                <input nz-input [placeholder]='pageTexts.TYPE_PASSWORD()' formControlName="currentPassword" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class='user-profile__con__form__security__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="newPassword">{{pageTexts.NEW_PASSWORD()}}</nz-form-label>
              <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                <input nz-input [placeholder]='pageTexts.TYPE_NEW_PASSWORD()' formControlName="newPassword" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class='user-profile__con__form__security__form__row'>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="confirmPassword">{{pageTexts.CONFIRM_PASSWORD()}}</nz-form-label>
              <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                <input nz-input [placeholder]='pageTexts.TYPE_CONFIRM_PASSWORD()' formControlName="confirmPassword" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class='user-profile__con__form__security__form__row'>
            <button nz-button (click)='handleChangePassword()' nzType="primary">{{pageTexts.CHANGE_PASSWORD()}}</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>