@import 'colors';

.upload-con {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;

  nz-upload {
    display: flex;
    flex-direction: row;

    width: 100%;
  }
}

.readyUpdate {
  background-color: gold;
  color: black;
}

.bio-input {
  height: 200px !important;
  width: 200px;
  resize: none;
}

.user-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  &__con {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;


    >h1 {
      align-self: center;
    }

    &__title {
      height: 150px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: center;
      align-items: center;

      &__general-info {
        width: 100%;
        display: flex;
        flex-direction: row;

        &__image {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;

          min-width: 200px;

          img {
            width: 150px;
            height: 200px;
            border-radius: 20px;
          }
        }

        &__form {
          width: 70%;
          display: flex;
          flex-direction: column;

          &__row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 500px;
            position: relative;

            p, label {
              font-size: 18px !important;
            }

            p:nth-child(2) {
              margin-left: 5px !important;
            }

            button {
              justify-self: flex-end;
              position: absolute;
              width: 120px;
              right: 0px;
              top: 0px;
            }

            nz-form-label {
              width: 150px;
            }

            nz-form-control, nz-select {
              width: 200px;
            }
          }
        }
      }

      &__security {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__image {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;

          min-width: 200px;

          img {
            width: 150px;
            height: 200px;
            border-radius: 20px;
          }
        }

        &__form {
          width: 80%;
          display: flex;
          align-items: center;
          flex-direction: column;

          &__row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            max-width: 500px;

            p, label {
              font-size: 18px !important;
            }

            p:nth-child(2) {
              margin-left: 5px !important;
            }

            button {
              width: 70%;
            }

            nz-form-label {
              width: 150px;
            }

            nz-form-item {
              width: 100%;
            }

            nz-form-control, nz-select {
              width: calc(100% - 150px);
            }
          }
        }
      }

    }

  }
}

@media screen and (max-width: 1024px) {
  .bio-input {
    height: 150px !important;
    width: 100%;
    resize: none;
  }

  .user-profile {
    &__con {
      &__form {
        width: 90%;

         &__general-info {
           flex-direction: column;

           &__image {
             width: 100%;
             height: 300px;
           }

           &__form {
             width: 100%;

             &__row {
               flex-direction: column;
               height: 120px;
               margin-bottom: 20px;

               border-bottom: 0.5px dashed black;

               button {
                bottom: 10px;
                top: unset;
                right: unset;
                width: 100%;
              }

              nz-form-item {
                width: 100%;
              }

               nz-form-label {
                 width: max-content;
               }

               nz-form-control {
                 width: 100%;
               }
             }

             &__row:last-child {
                height: 240px;
             }
           }
         }

         &__security {
           width: 100%;
          flex-direction: column;

          &__form {
            width: 100%;

            &__row {
              flex-direction: column;
              height: 80px;

              button {
               bottom: 10px;
               top: unset;
               right: unset;
               width: 100%;
             }

             nz-form-item {
               width: 100%;
             }

              nz-form-label {
                width: max-content;
              }

              nz-form-control, nz-select {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
