@import 'colors';

.main-register {
  display: flex;
  flex-direction: column;
  padding: 35px 0px 100px 0px;
  background-color: #f9fbfd;

  &__input {
    height: 40px;
    margin-left: 10px;
  }

  &__checkbox {
    margin-left: 10px !important;
  }

  &__form {
    width: 500px;
    box-shadow: 2px 2px 9px #dedede;
    padding: 50px;
    background-color: white;

    align-self: center;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
  
      h1 {
        color: $main-green;
      }

      &__dash {
        width: 50px;
        border-bottom: 5px solid $main-green;
      }
    }

    &__submit-btn {
      margin-top: 30px;
      background-color: $main-green;
      width: 100%;
      height: 50px;
    }

    hr {
      margin-top: 20px;
    }

    &__footer {
      &--link {
        cursor: pointer;
        color: $main-green;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .main-register {
    padding: 10px 0px 50px 0px;

    &__form {
      width: 350px;
      padding: 20px;
    }
  }
}