<div class='main-register'>
  <div class='main-register__form'>
    <div class='main-register__form__title'>
      <h1>{{pageTexts.REGISTER()}}</h1>
  
      <div class='main-register__form__title__dash'>

      </div>
    </div>

    <form nz-form [formGroup]='loginForm'>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_EMAIL()}}">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="{{pageTexts.EMAIL()}}" class='main-register__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_PASSWORD()}}">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="{{pageTexts.PASSWORD()}}" class='main-register__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_PASSWORD_CONFIRMATION()}}">
          <nz-input-group nzPrefixIcon="retweet">
            <input type="password" nz-input formControlName="passwordConfirmation" placeholder="{{pageTexts.PASSWORD_CONFIRMATION()}}" class='main-register__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_FULL_NAME()}}">
          <nz-input-group nzPrefixIcon="contacts">
            <input type="text" nz-input formControlName="fullName" placeholder="{{pageTexts.FULL_NAME()}}" class='main-register__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </form>

    <button
      nz-button
      nzType="primary"
      type='submit'
      class='main-register__form__submit-btn'
    >
      {{pageTexts.REGISTER()}}
    </button>

    <hr class='gray-hr'>
    <span class='main-register__form__footer'>{{pageTexts.ALREADY_HAVE_ACCOUNT()}} </span>
    <span
      class='main-register__form__footer--link no-outline'
      [routerLink]="['/home/login']"
    >
      {{pageTexts.LOGIN()}} 
    </span>
  </div>
</div>