@import 'colors';

.carousel-image {
  width: 100%;
  height: 450px;

  object-fit: cover;
  object-position: right;
}

.home-body__con {
  width: 100%;
  height: 100%;

  &__carousel {
    height: 450px;
    width: 100%;
    z-index: 1;

    position: relative;

    &__message {
      z-index: 2;
      width: 95%;
      position: absolute;

      &__background-con {
        width: fit-content;
        background-color: rgba(0,0,0, 0.4);

        h1 {
          font-size: 35px;
          color: white;
        }
  
        h4 {
          font-size: 17px;
          color: white;
        }
      }

      &__action_btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;

        button {
          font-size: 15px;
          font-weight: 700;
          background-color: $main-green;
        }
      }
    }
  }

  &__steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    >h1 {
      font-size: 45px;
      text-align: center;
    }

    &__con {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
      margin-top: 50px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        height: 150px;

        img {
          width: 100px;
          height: 100px;
        }

        h1 {
          align-self: center;
          color: $main-green;
          font-size: 35px;
        }

        p {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 200px;

    >h1 {
      font-size: 45px;
      text-align: center;
    }

    &__items-con {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
      margin-top: 50px;

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;

        h1 {
          align-self: center;
          color: $main-green;
          font-size: 45px;
        }

        h3 {
          align-self: center;
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .home-body__con {
    &__carousel {
      height: 400px;

      &__message {
        left: 5%;
        top: 10px;

        h1 {
          font-size: 25px;
          font-weight: 700;
        }
  
        h4 {
          font-size: 20px;
        }

        &__action_btns {
          display: flex;
          flex-direction: column;
          margin-top: 10px;

          margin-top: 50px;
  
          button {
            width: 95%;
            margin-bottom: 20px;
          }
        }
      }
    }

    &__steps {

      >h1 {
        font-size: 35px;
        font-weight: 700;
      }

      &__con {
        width: 100%;
        flex-direction: column;

        &__item {
          width: 100%;

          min-height: 250px;
        }
      }
    }

    &__stats {
      margin-top: 80px;
      >h1 {
        font-size: 35px;
        font-weight: 700;
      }

      &__items-con {
        &__item {
          width: 100%;
          padding: 5px 0px;

          h1 {
            font-size: 70px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .home-body__con {
    &__carousel {
      &__message {
        left: 7%;
        top: 50px;
        width: 93%;

        h1 {
          font-size: 25px;
        }
  
        h4 {
          font-size: 14px;
          width: 500px;
        }

        &__action_btns {
          width: 320px;

          button {
            width: 150px;
          }
        }
      }
    }

    &__steps {

      &__con {
        width: 95%;

        &__item {
          width: 30%;
        }
      }
    }

    &__stats {
      &__items-con {
        width: 95%;

        &__item {
          width: 30%;
          padding: 5px 0px;

          h1 {
            font-size: 55px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .home-body__con {
    &__carousel {
      &__message {
        left: 10%;
        top: 50px;
        width: 90%;

        h1 {
          font-size: 30px;
        }
  
        h4 {
          font-size: 15px;
          width: 500px;
        }

        &__action_btns {
          width: 320px;

          button {
            width: 150px;
          }
        }
      }
    }

    &__steps {

      &__con {
        width: 85%;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .home-body__con {
    &__carousel {
      &__message {
        left: 15%;
        top: 50px;
        width: 85%;

        &__action_btns {
          width: 320px;

          button {
            width: 150px
          }
        }
      }
    }
  }
}