<div class='home-body__con'>
  <div class='home-body__con__carousel'>

    <div class='home-body__con__carousel__message'>
      <div class='home-body__con__carousel__message__background-con'>
        <h1>{{pageTexts.FIND_OR_ADOPT_PETS()}}</h1>
        <h4>{{pageTexts.FIND_OR_ADOPT_PETS_DESCRIPTION()}}</h4>
      </div>

      <div class='home-body__con__carousel__message__action_btns'>
        <button
          nz-button
          nzSize="large" 
          [routerLink]="['pets/find']"
          nzType="primary"
        >{{pageTexts.FIND_PETS().toUpperCase()}}
        </button>
        <button
          nz-button
          nzSize="large"
          [routerLink]="['pets/find']"
          [queryParams]="{purpose: 'adopt'}"
          nzType="primary"
        >{{pageTexts.ADOPT_PETS().toUpperCase()}}
        </button>
      </div>
    </div>

    <nz-carousel nzAutoPlay nzEffect='fade' [nzAutoPlaySpeed]='3000'>
      <div
        nz-carousel-content
        *ngFor="let imageSrc of carouselImageSrc"
      >
        <img [src]='imageSrc' class='carousel-image'/>
      </div>
    </nz-carousel>
  </div>
  
  <div class='home-body__con__steps'>
    <h1>{{pageTexts.YOUR_PET_ADOPTION_JOURNEY()}}</h1>
    <div class='home-body__con__steps__con'>
      <div class='home-body__con__steps__con__item'>
        <img src='/assets/images/pet_search.png' />
        <h1>{{pageTexts.SEARCH()}}</h1>

        <p>{{pageTexts.SEARCH_DESC()}}</p>
      </div>

      <div class='home-body__con__steps__con__item'>
        <img src='/assets/images/meet_pet.png' />
        <h1>{{pageTexts.MEET()}}</h1>

        <p>{{pageTexts.MEET_DESC()}}</p>
      </div>

      <div class='home-body__con__steps__con__item'>
        <img src='/assets/images/pet_adopt.png' />
        <h1>{{pageTexts.ADOPT()}}</h1>

        <p>{{pageTexts.ADOPT_DESC()}}</p>
      </div>
    </div>
  </div>

  <div class='home-body__con__stats'>
    <h1>{{pageTexts.ACTIVITY_TROPHY()}}</h1>
    <div class='home-body__con__stats__items-con'>
      <div class='home-body__con__stats__items-con__item'>
        <h1>{{136 | number}}</h1>
        <h3>{{pageTexts.PETS_FOUND()}}</h3>
      </div>
  
      <div class='home-body__con__stats__items-con__item'>
        <h1>{{249 | number}}</h1>
        <h3>{{pageTexts.PETS_ADOPTED()}}</h3>
      </div>
  
      <div class='home-body__con__stats__items-con__item'>
        <h1>{{376 | number}}</h1>
        <h3>{{pageTexts.PEOPLE_SERVED()}}</h3>
      </div>
    </div>
  </div>

  <!-- <div class='home-body__con__testimonials'>
    <h1>{{pageTexts.TESTIMONIALS()}}</h1>
    <div class='home-body__con__testimonials__con'>

      <app-image-slider
        [navigation$]='testimonialSliderController.navigation$'
      >
        <div
          class='special-offers__product__image-gallery__con__item'
          *ngFor='let imageUrl of facialMaskImageUrls'
        >
          <img [src]='imageUrl'/>
        </div>
      </app-image-slider>

    </div>
  </div> -->
</div>
