<div class='register-modal'>
  <div class='register-modal__form'>
    <form nz-form [formGroup]='registerForm'>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Email" class='register-modal__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_PASSWORD()}}">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" class='register-modal__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_PASSWORD_CONFIRMATION()}}">
          <nz-input-group nzPrefixIcon="retweet">
            <input type="password" nz-input formControlName="passwordConfirmation" placeholder="Password Confirmation" class='register-modal__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_FULL_NAME()}}">
          <nz-input-group nzPrefixIcon="contacts">
            <input type="text" nz-input formControlName="fullName" placeholder="Full Name" class='register-modal__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>

  <div class='register-modal__third-party-login'>
    <hr>
    <div class='register-modal__third-party-login__con'>
      <span>{{pageTexts.OR_LOGIN_WITH()}}</span>
      <div class='register-modal__third-party-login__con__icon-con'>
        <i
          nz-icon
          nzType="facebook"
          class='register-modal__third-party-login__con__icon-con__icon'
          nzTheme="outline"
        ></i>
        <i
          nz-icon
          nzType="google"
          class='register-modal__third-party-login__con__icon-con__icon'
          nzTheme="outline"
        ></i>
        <i
          nz-icon
          nzType="linkedin"
          class='register-modal__third-party-login__con__icon-con__icon'
          nzTheme="outline"
        ></i>
      </div>
    </div>
  </div>
</div>