#emailInput {
  margin-left: 5px;
}

.register-modal {
  display: flex;
  flex-direction: column;

  &__input {
    margin-left: 5px;
  }

  &__form {
    width: 70%;
    align-self: center;

    display: flex;
    flex-direction: column;
  }

  &__third-party-login {
    width: 70%;

    align-self: center;

    hr {
      border-top: 1px solid lightgray;
      border-radius: 5px;
    }

    span {
      color: gray;
      align-self: center;
    }

    &__con {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      &__icon-con {
        display: flex;
        flex-direction: row;
        flex-grow: 3;
        justify-content: space-evenly;

        &__icon {
          font-size: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .register-modal {
    &__form {
      width: 100%;
    }

    &__third-party-login {
      width: 100%;
    }
  }  
}