<div class='my-acc-home'>
  <div *ngIf="currentDevice === 'DESKTOP'" class='my-acc-home--desktop'>
    <h1>Desktop is here</h1>
  </div>
</div>

<nz-drawer [nzClosable]="true" (nzOnClose)="toggleDrawer()" [nzMaskClosable]="true" [nzVisible]="isDrawerVisible" [nzPlacement]="'left'" nzTitle="Menu">
  <div class='my-acc-home-drawer'>
    <img src='assets/images/logo.png' id='logo'/>
  </div>
</nz-drawer>