<div class='create-post'>
  <div class='create-post__con'>
    <div class='create-post__con__title flex-row--justify-center--align-center'>
      <h1>{{pageTexts.NEW_POST()}}</h1>
    </div>

    <div class='create-post__con__form'>
      <div class='create-post__con__form__con'>
        <div class='create-post__con__form__con__steps-con'>
          <nz-steps nzSize='small' [nzDirection]='stepDirection' [nzCurrent]="currentFormStep">
            <nz-step nzTitle="{{pageTexts.GENERAL_INFO()}}"></nz-step>
            <nz-step nzTitle="{{pageTexts.CONTACT_INFO()}}"> </nz-step>
            <nz-step nzTitle="{{pageTexts.SPECIAL_PROPERTIES()}}"> </nz-step>
            <nz-step nzTitle="{{pageTexts.IMAGES()}}"></nz-step>
            <nz-step nzTitle="{{pageTexts.FINISH()}}"></nz-step>
          </nz-steps>
        </div>
    
        <form
          [formGroup]='createPostForm'
          class='create-post__con__form__con__form-tabs'
          (ngSubmit)='handleFormSubmit()'
        >
          <nz-tabset [nzSelectedIndex]='currentFormStep'>
            <div formGroupName='generalInfo'>
              <nz-tab>
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="title">{{pageTexts.TITLE()}}</nz-form-label>
                  <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                    <input nz-input [placeholder]='pageTexts.TYPE_TITLE()' formControlName="title" id='title' />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzRequired nzFor="postTypeId">{{pageTexts.POST_TYPE()}}</nz-form-label>
                  <nz-select [nzPlaceHolder]="pageTexts.SELECT_POST_TYPE()" formControlName='postTypeId' id='postTypeId'>
                    <nz-option
                      *ngFor='let option of postTypes'
                      [nzLabel]='option.name'
                      [nzValue]='option.id'
                    ></nz-option>
                  </nz-select>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="petName">{{pageTexts.PET_NAME()}}</nz-form-label>
                  <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                    <input nz-input [placeholder]='pageTexts.TYPE_PET_NAME()' formControlName="petName" id='petName' />
                  </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="ageId">{{pageTexts.PET_AGE()}}</nz-form-label>
                  <nz-select [nzPlaceHolder]="pageTexts.SELECT_PET_AGE()" formControlName='ageId' id='ageId'>
                    <nz-option
                      *ngFor='let option of petAges'
                      [nzLabel]='option.name'
                      [nzValue]='option.id'
                    ></nz-option>
                  </nz-select>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="typeId">{{pageTexts.PET_TYPE()}}</nz-form-label>
                  <nz-select [nzPlaceHolder]="pageTexts.SELECT_PET_TYPE()" formControlName='typeId' id='typeId'>
                    <nz-option
                      *ngFor='let option of petTypes'
                      [nzLabel]='option.name'
                      [nzValue]='option.id'
                    ></nz-option>
                  </nz-select>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="sexId">{{pageTexts.PET_SEX()}}</nz-form-label>
                  <nz-select [nzPlaceHolder]="pageTexts.SELECT_PET_SEX()" formControlName='sexId' id='sexId'>
                    <nz-option
                      *ngFor='let option of petSexes'
                      [nzLabel]='option.name'
                      [nzValue]='option.id'
                    ></nz-option>
                  </nz-select>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="breedId">{{pageTexts.PET_BREED()}}</nz-form-label>
                  <nz-select [nzPlaceHolder]="pageTexts.SELECT_PET_BREED()" formControlName='breedId' id='breedId'>
                    <nz-option
                      *ngFor='let option of petBreeds'
                      [nzLabel]='option.name'
                      [nzValue]='option.id'
                    ></nz-option>
                  </nz-select>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="sizeId">{{pageTexts.PET_SIZE()}}</nz-form-label>
                  <nz-select [nzPlaceHolder]="pageTexts.SELECT_PET_SIZE()" formControlName='sizeId' id='sizeId'>
                    <nz-option
                      *ngFor='let option of petSizes'
                      [nzLabel]='option.name'
                      [nzValue]='option.id'
                    ></nz-option>
                  </nz-select>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label nzFor="petSpecialProperties">{{pageTexts.PET_SPECIAL_PROPERTIES()}}</nz-form-label>
                  <nz-form-control>
                    <input nz-input [placeholder]='pageTexts.TYPE_PET_SPECIAL_PROPERTIES()' formControlName="specialProperties" id='petSpecialProperties' />
                  </nz-form-control>
                </nz-form-item>
  
                <div class='action-buttons'>
                  <button nz-button (click)='goNextStep()' [disabled]="!canGoNextStep('generalInfo')" nzType="primary">{{pageTexts.NEXT()}}</button>
                </div>
              </nz-tab>
            </div>
              <nz-tab>
                <label nz-checkbox style='margin-bottom: 10px;' [(nzChecked)]='isUseUserAsContactPerson'>{{pageTexts.USE_MY_INFO_AS_CONTACT()}}</label>
  
                <div *ngIf='!isUseUserAsContactPerson' formGroupName='contact' class='additional-contact-form'>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="contactName">{{pageTexts.CONTACT_NAME()}}</nz-form-label>
                    <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                      <input nz-input formControlName='name' name="contactName" type="string" id="contactName">
                    </nz-form-control>
                  </nz-form-item>
  
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="contactPhone">{{pageTexts.PHONE_NUMBER()}}</nz-form-label>
                    <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                      <input nz-input formControlName='phone'  name="contactPhone" type="string" id="contactPhone">
                    </nz-form-control>
                  </nz-form-item>
  
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="contactAddress">{{pageTexts.CONTACT_ADDRESS()}}</nz-form-label>
                    <nz-form-control [nzErrorTip]='pageTexts.MUST_INPUT()'>
                      <input nz-input formControlName='address'  name="contactAddress" type="string" id="contactAddress">
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div class='action-buttons'>
                  <button nz-button (click)='goPreviousStep()'>{{pageTexts.PREVIOUS()}}</button>
                  <button nz-button (click)='goNextStep()' [disabled]="!canGoNextStep('contact') && !isUseUserAsContactPerson" nzType="primary">{{pageTexts.NEXT()}}</button>
                </div>
              </nz-tab>
              <nz-tab>
                <div class='health-properties' formGroupName='healthProperties'>
                  <label nz-checkbox formControlName='isVacinated'>{{pageTexts.IS_VACINATED()}}</label>
                  <label nz-checkbox formControlName='isDewormed'>{{pageTexts.IS_DEWORMED()}}</label>
                  <label nz-checkbox formControlName='isSterilized'>{{pageTexts.IS_STERILIZED()}}</label>
                </div>
                <div class='action-buttons'>
                  <button nz-button (click)='goPreviousStep()'>{{pageTexts.PREVIOUS()}}</button>
                  <button nz-button (click)='goNextStep()' nzType="primary">{{pageTexts.NEXT()}}</button>
                </div>
              </nz-tab>
              <nz-tab>
                <div class='upload-con'>
                  <nz-upload
                    [nzAction]='uploadUrl'
                    [nzSize]='1024'
                    [(nzFileList)]="uploadFileList"
                    nzListType="picture-card"
                    [nzDisabled]='!canContinueUpload'
                    (nzChange)="handleUploadImage($event)"
                  >
                  <div>
                    <i nz-icon nzType="plus"></i>
                    <div style="margin-top: 8px">{{pageTexts.UPLOAD()}}</div>
                  </div>
                  </nz-upload>
                </div>
                <div class='action-buttons'>
                  <button nz-button (click)='goPreviousStep()'>{{pageTexts.PREVIOUS()}}</button>
                  <button nz-button (click)='goNextStep()' [disabled]="!canGoNextStep('contact') && !isUseUserAsContactPerson" nzType="primary">{{pageTexts.NEXT()}}</button>
                </div>
              </nz-tab>
              <nz-tab>
                <div class='finish-messages'>
                  <h1>{{pageTexts.CONGRATULATION_ON_SUCCESS()}}</h1>
                  <h3>{{pageTexts.CLICK_FINISH_TO_SUBMIT()}}</h3>
                </div>
                <div class='action-buttons'>
                  <button nz-button (click)='goPreviousStep()'>{{pageTexts.PREVIOUS()}}</button>
                  <button nz-button nzType="primary" type='submit' >{{pageTexts.FINISH()}}</button>
                </div>
              </nz-tab>
            </nz-tabset>
        </form>
      </div>
    </div>
  </div>
</div>