@import 'colors';

.action-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;

  button {
    width: 100px;
  }

  button:nth-child(1) {
    margin-right: 5px;
  }
}

.health-properties {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-bottom: 20px;
}

.finish-messages {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  margin-bottom: 20px;
}

.upload-con {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;

  nz-upload {
    display: flex;
    flex-direction: row;

    width: 100%;
  }
}

.create-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  &__con {
    width: 100%;
    align-self: center;
    background-color: white;

    display: flex;
    flex-direction: column;

    >h1 {
      align-self: center;
    }

    &__title {
      height: 150px;
    }

    &__form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 40px;

      &__con {
        background-color: white;
        padding: 30px;
        width: 80%;
        border-radius: .25rem;
        border: 1px solid #d8d8d8;
        box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);

        &__form-tabs {
          nz-form-label {
            width: 150px;
          }

          nz-form-control, nz-select {
            width: calc(100% - 150px);
            min-width: 200px;
            max-width: 500px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .create-post {
    &__con {
      &__form {
        &__con {
          &__form-tabs {
            nz-select, nz-form-control {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .upload-con {
    nz-upload {
      flex-direction: column;
    }
  }

  .action-buttons {
    flex-direction: column;

    button {
      width: 100%;
    }

    button:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  .finish-messages {
    h1 {
      font-size: 25px;
    }

    h3 {
      font-size: 20px;
    }
  }

  .health-properties {
    flex-direction: column;
    width: 100%;

    label {
      width: 100%;

      margin-left: 0px !important;
      margin-bottom: 10px !important;
    }
  
    margin-bottom: 20px;
  }
}
