<div class='my-acc-home'>
  <div *ngIf='!isMobileDevice' class='my-acc-home__nav'>
    <div class='my-acc-home__nav__logo'>
      <img
        src='assets/images/logo.png'
        id='logo'
        [routerLink]='["/"]'
        class='no-outline'
      />
    </div>

    <div
      class='my-acc-home__nav__item noselect no-outline'
      [class.active]='isCurrentTabActive("/dashboard")'
      [routerLink]='["/my-account/under-construction"]'
    >
      <i nz-icon nzType="home" nzTheme="outline"></i>
      <p>{{pageTexts.DASHBOARD()}}</p>
    </div>

    <div
      class='my-acc-home__nav__item noselect no-outline'
      [class.active]='isCurrentTabActive("/users/posts")'
      [routerLink]='["/my-account/users/posts"]'
    >
    <i nz-icon nzType="project" nzTheme="outline"></i>
      <p>{{pageTexts.MY_POST_HISTORY()}}</p>
    </div>

    <div
      class='my-acc-home__nav__item noselect no-outline'
      [class.active]='isCurrentTabActive("/pets/find")'
      [routerLink]='["/home/pets/find"]'
    >
    <i nz-icon nzType="search" nzTheme="outline"></i>
      <p>{{pageTexts.FIND_PETS()}}</p>
    </div>

    <ng-container *ngIf='!isUpdatePost'>
      <div
        class='my-acc-home__nav__item noselect no-outline'
        [class.active]='isCurrentTabActive("/posts/create")'
        [routerLink]='["/my-account/posts/create"]'
      >
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        <p>{{pageTexts.NEW_POST()}}</p>
      </div>
    </ng-container>

    <ng-container *ngIf='isUpdatePost'>
      <div
        class='my-acc-home__nav__item noselect no-outline'
        [class.active]='isCurrentTabActive("/posts/update")'
      >
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        <p>{{pageTexts.UPDATE_POST()}}</p>
      </div>
    </ng-container>

    <div
      class='my-acc-home__nav__item noselect no-outline'
      [class.active]='isCurrentTabActive("/donation-history")'
      [routerLink]='["/my-account/donation-history"]'
    >
    <i nz-icon nzType="calculator" nzTheme="outline"></i>
      <p>{{pageTexts.DONATION_HISTORY()}}</p>
    </div>

    <div
      class='my-acc-home__nav__item noselect no-outline'
      [class.active]='isCurrentTabActive("/users/profile")'
      [routerLink]='["/my-account/users/profile/" + currentUser.id]'
    >
    <i nz-icon nzType="edit" nzTheme="outline"></i>
      <p>{{pageTexts.ACCOUNT_SETTINGS()}}</p>
    </div>

    <div
      class='my-acc-home__nav__item noselect no-outline'
      [class.active]='isCurrentTabActive("/account-settings")'
      [routerLink]='["/my-account/under-construction"]'
    >
    <i nz-icon nzType="setting" nzTheme="outline"></i>
      <p>{{pageTexts.SYSTEM_SETTINGS()}}</p>
    </div>
  </div>

  <div class='my-acc-home__content'>
    <div class='my-acc-home__content__header'>
      <div *ngIf="!isMobileDevice" class='my-acc-home__content__header--desktop'>
        <div class='my-acc-home__content__header--desktop__search'>
          <div class='my-acc-home__content__header--desktop__search__input'>
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="{{pageTexts.SEARCH()}}" />
            </nz-input-group>
  
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
          </div>
        </div>

        <div
          class='my-acc-home__content__header--desktop__user-icon noselect flex-row--justify-center--align-center'
          nz-dropdown
          [nzDropdownMenu]="userAvatarDropdown"
          nzPlacement="bottomLeft"
          nzTrigger="click"
        >
          <img src='assets/images/person_6x8.png' id='user-icon'>
          <p>{{pageTexts.HELLO()}}, {{currentUser.fullName}}</p>
        </div>
      </div>
  
      <div *ngIf="isMobileDevice" class='my-acc-home__content__header--mobile flex-row'>
        <div
          class='my-acc-home__content__header--mobile__burger flex-row--justify-center--align-center'
          (click)='toggleDrawer()'
        >
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </div>
        <div
          class='my-acc-home__content__header--mobile__logo flex-row--justify-center--align-center'
          [routerLink]='["/"]'
        >
          <img src='assets/images/logo.png' id='logo'/>
        </div>
        <div
          class='my-acc-home__content__header--mobile__user-icon'
          nz-dropdown
          [nzDropdownMenu]="userAvatarDropdown"
          nzPlacement="bottomLeft"
          nzTrigger="click"
        >
          <img src='assets/images/person_6x8.png' id='user-icon' >
        </div>
      </div>
    </div>
  
    <div class='my-acc-home__content__body'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<nz-drawer
  [nzClosable]="isMobileDevice"
  [nzMask]="true"
  [nzBodyStyle]='drawerBodyStyle'
  [nzZIndex]='1'
  (nzOnClose)="toggleDrawer()"
  [nzMaskClosable]="true"
  [nzVisible]="isDrawerVisible"
  [nzPlacement]="'left'"
>
  <div class='my-acc-home-drawer'>
    <img
      src='assets/images/logo.png'
      id='logo'
      [routerLink]='["/"]'
    />

    <div
      class='my-acc-home-drawer__nav-item noselect no-outline'
      [class.active]='isCurrentTabActive("/dashboard")'
      [routerLink]='["/my-account/under-construction"]'
    >
      <i nz-icon nzType="home" nzTheme="outline"></i>
      <p>{{pageTexts.DASHBOARD()}}</p>
    </div>

    <div
      class='my-acc-home-drawer__nav-item noselect no-outline'
      [class.active]='isCurrentTabActive("/projects/new")'
      [routerLink]='["/my-account/users/posts"]'
    >
    <i nz-icon nzType="project" nzTheme="outline"></i>
      <p>{{pageTexts.MY_POST_HISTORY()}}</p>
    </div>

    <div
      class='my-acc-home-drawer__nav-item noselect no-outline'
      [class.active]='isCurrentTabActive("/pets/find")'
      [routerLink]='["/home/pets/find"]'
    >
    <i nz-icon nzType="solution" nzTheme="outline"></i>
      <p>{{pageTexts.FIND_PETS()}}</p>
    </div>

    <ng-container *ngIf='!isUpdatePost'>
      <div
        class='my-acc-home__nav__item noselect no-outline'
        [class.active]='isCurrentTabActive("/posts/create")'
        [routerLink]='["/my-account/posts/create"]'
      >
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        <p>{{pageTexts.NEW_POST()}}</p>
      </div>
    </ng-container>

    <ng-container *ngIf='isUpdatePost'>
      <div
        class='my-acc-home__nav__item noselect no-outline'
        [class.active]='isCurrentTabActive("/posts/update")'
      >
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        <p>{{pageTexts.UPDATE_POST()}}</p>
      </div>
    </ng-container>

    <div
      class='my-acc-home-drawer__nav-item noselect no-outline'
      [class.active]='isCurrentTabActive("/donation-history")'
      [routerLink]='["/my-account/donation-history"]'
    >
    <i nz-icon nzType="calculator" nzTheme="outline"></i>
      <p>{{pageTexts.DONATION_HISTORY()}}</p>
    </div>

    <div
      class='my-acc-home-drawer__nav-item noselect no-outline'
      [class.active]='isCurrentTabActive("/users/profile")'
      [routerLink]='["/my-account/users/profile/" + currentUser.id]'
    >
    <i nz-icon nzType="edit" nzTheme="outline"></i>
      <p>{{pageTexts.ACCOUNT_SETTINGS()}}</p>
    </div>

    <div
      class='my-acc-home-drawer__nav-item noselect no-outline'
      [class.active]='isCurrentTabActive("/system-settings")'
      [routerLink]='["/my-account/under-construction"]'
    >
    <i nz-icon nzType="setting" nzTheme="outline"></i>
      <p>{{pageTexts.SYSTEM_SETTINGS()}}</p>
    </div>
  </div>
</nz-drawer>

<nz-dropdown-menu #userAvatarDropdown="nzDropdownMenu">
  <ul nz-menu>
    <li nz-submenu nzTitle="{{pageTexts.CHANGE_LANGUAGE()}}">
      <ul>
        <li (click)="handleChangeLanguage('ENG')" nz-menu-item><span>English</span></li>
        <li (click)="handleChangeLanguage('VIET')" nz-menu-item><span>Vietnamese</span></li>
      </ul>
    </li>
    <li nz-menu-item (click)="handleSignOut()"><span>{{pageTexts.LOGOUT()}}</span></li>
  </ul>
</nz-dropdown-menu>