@import 'colors';
@import 'classes';

$nav-width: 260px;
$nav-item-font: 16px;
$nav-item-width: 230px;

$user-icon-size: 40px;

#logo {
  width: 150px;
  height: 60px;
  cursor: pointer;
}

body {
  overflow-y: hidden;
}

#user-icon {
  width: $user-icon-size;
  height: $user-icon-size;
  border-radius: 100%;
}

.my-acc-home {
  width: 100%;
  height: calc(100vh);
  overflow-y: scroll;
  position: relative;

  &__nav {
    width: $nav-width;
    height: calc(100vh);
    position: sticky;
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
    top: 0px;
    left: 0px;
    z-index: 2;

    &__logo {
      height: 80px;
      width: 100%;

      margin-bottom: 50px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__item {
      height: 60px;
      width: $nav-item-width;
      padding-left: 30px;
      border-radius: 0px 60px 60px 0px;

      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 10px;
      }

      i, p {
        font-size: $nav-item-font;
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: $nav-width;
    width: calc(100% - #{$nav-width});
    background-color: $main-background;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      height: 80px;
      width: 100%;
      z-index: 10;
      background-color: aliceblue;
      padding: 10px;
      position: sticky;
      top: 0;
      left: 0;

      &--desktop {
        display: flex;
        flex-direction: row;
        height: 60px;

        &__search {
          height: 100%;
          width: calc(100% - 300px);

          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding-right: 30px;

          &__input {
            width: 250px;

            nz-input-group {
              border-radius: 15px;
            }
          }

        }

        &__user-icon {
          height: 100%;
          width: 250px;
          cursor: pointer;

          img {
            margin-right: 10px;
          }
        }
      }

      &--mobile {
        height: 60px;

        &__burger {
          width: 50px;

          i {
            font-size: 25px;
          }
        }

        &__logo {
          width: calc(100% - 110px);
        }

        &__user-icon {
          align-self: center;
          cursor: pointer;
        }
      }
    }

    &__body {
      width: 100%;
      padding: 20px;
  
      align-self: flex-end;
    }
  }
}

.my-acc-home-drawer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__fake-padding {
    height: 56px;
    width: 100%;
  }

  img {
    align-self: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__nav-item {
    height: 60px;
    width: 100%;
    padding-left: 30px;
    border-radius: 0px 60px 60px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    i {
      margin-right: 10px;
    }

    i, p {
      font-size: $nav-item-font;
    }
  }
}

.active {
  box-shadow: 0 7px 12px 0 rgba(95, 118, 232, .21);
  background-color: $nav-color;
  i, p {
    color: white !important;
  }
}

@media screen and (max-width: 959px) {
  #user-icon {
    width: 30px;
    height: 30px;
  }

  .my-acc-home {
    &__content {
      &__header {
        &--desktop {
          &__search {
            width: calc(100% - 100px);
          }

          &__user-icon {
            width: 100px;

            img {
              margin-right: 0px;
            }

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .my-acc-home {
    &__content {
      width: 100%;
      position: initial;
    }
  }
}