<div class='home__con'>
  <div class='sticky-scroll'>
    <div class='home__con__header'>
      <app-home-header></app-home-header>
    </div>

    <div class='home__con__nav'>
      <div class='home__con__nav__item noselect' [routerLink]="['/home']">
        <h3>{{pageTexts.HOME()}}</h3>
      </div>

      <div [routerLink]="['pets/find']" class='home__con__nav__item noselect'>
        <h3>{{pageTexts.FIND_PETS()}}</h3>
      </div>

      <div
        class='home__con__nav__item noselect'
        [routerLink]="['pets/find']"
        [queryParams]="{purpose: 'adopt'}"
      >
        <h3>{{pageTexts.ADOPT_PETS()}}</h3>
      </div>

      <div
        class='home__con__nav__item noselect'
        [routerLink]="['/my-account/posts/create']"
      >
        <h3>{{pageTexts.POST_MISSING_PET()}}</h3>
      </div>

      <div
        class='home__con__nav__item noselect'
        [routerLink]="['/my-account/posts/create']"
        [queryParams]="{purpose: 'adopt'}"
      >
        <h3>{{pageTexts.POST_FOUND_PET()}}</h3>
      </div>

      <div class='home__con__nav__item noselect'>
        <h3>{{pageTexts.ABOUT_US()}}</h3>
      </div>

      <div class='home__con__nav__item noselect'>
        <h3>{{pageTexts.CONTACT_US()}}</h3>
      </div>

    </div>
  </div>

  <div class='sticky-static'>
    <div class='home__con__body'>
      <router-outlet></router-outlet>
    </div>
  
    <div class='home__con__footer'>
      <div class='home__con__footer__con'>
        <div class='home__con__footer__con__logo'>
          <h2>Cứu Trợ Thú Cưng</h2>
          <img style="margin-top: 20px;" src='/assets/images/logo.png' />
        </div>
  
        <div class='home__con__footer__con__social-network'>
          <h2>Our Social Networks</h2>
          <div style="margin-top: 20px;" class='home__con__footer__con__social-network__icons'>
            <a href='https://www.facebook.com/Huy.TheVIP' target="_blank">
              <i nz-icon nzType="facebook" nzTheme="outline"></i>
            </a>
  
            <a href='https://www.linkedin.com/in/huy-tran-127416185' target="_blank">
              <i nz-icon nzType="linkedin" nzTheme="outline"></i>
            </a>
          </div>
        </div>
  
        <div class='home__con__footer__con__about-us'>
          <h2>About Us</h2>
          <p style="margin-top: 20px; text-align: center;">The author of this page is a pet lover and he wishes to help as
            many people as possible to reunite with their lost pets</p>
        </div>
  
      </div>
  
      <div class='home__con__footer__author'>
        <hr>
        <h3>Coded And Contributed By Tran Quang Huy</h3>
      </div>
  
    </div>
  </div>
</div>
