@import 'variables';

body {
  overflow-y: scroll;
}

.sticky-scroll {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 10;
}

.sticky-static {
  width: 100%;
  position: absolute;
  top: 168px;
}

.home__con {
  position: relative;
  width: 100%;
  height: calc(100vh);

  &__header {
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 10;
  }

  &__nav {
    width: 100%;
    overflow-x: auto;
    height: 48px;
    background-color: white;
    z-index: 10;

    box-shadow: 2px 2px 9px #dedede;

    display: flex;
    flex-direction: row;

    &__item {
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: row;

      align-items: center;
      
      padding: 0px 10px;
      cursor: pointer;

      border-bottom: 2px solid white;

      &:hover {
        border-bottom: 2px solid black;
      }

      &:focus {
        outline: none;
        border-bottom: 2px solid black;
      }

      h3 {
        color: lightslategray;
        width: max-content;
      }
    }
  }

  &__body {
    width: 100%;
    min-height: 500px;
  }

  &__footer {
    margin-top: 100px;

    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

    &__con {
      width: 80%;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__logo {
        width: calc(100% / 3);

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 150px;
          height: 60px;
        }
      }

      &__social-network {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        align-items: center;

        &__icons {
          width: 200px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          a {
            color: #4267B2
          }
  
          i {
            font-size: 45px;
          }
        }
      }

      &__about-us {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin-top: 20px !important;
          font-size: 16px !important;
        }
      }
    }

    &__author {
      height: 50px;
      width: 100%;
      margin-top: 50px;

      hr {
        width: 80%;
        color: lightgray;
      }

      h3 {
        margin-left: 10% !important;
        font-weight: bold;
        color: darkgray;
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 599px) {
  .home__con {

    &__nav {
      padding: 0px calc(5% - 10px);
    }

    &__footer {

      &__con {
        flex-direction: column;

        >div {
          width: 100%;
          margin-top: 50px;
        }

      }

      &__author {
        h3 {
          font-size: 14px;
          text-align: center;
          margin: 0px !important;
        }
      }
    }
  }
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .home__con {
    &__nav {
      padding: 0px calc(7% - 10px);
    }
  }
}


// Laptop
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .home__con {
    &__nav {
      padding: 0px calc(10% - 10px);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .home__con {
    width: calc(100vw - #{$scrollbar-width});

    &__nav {
      padding: 0px calc(15% - 10px);
    }
  }
}