<div class='main-login'>
  <div class='main-login__form'>
    <div class='main-login__form__title'>
      <h1>{{pageTexts.LOGIN()}}</h1>
  
      <div class='main-login__form__title__dash'>

      </div>
    </div>

    <form nz-form [formGroup]='loginForm' (ngSubmit)='handleLogin()'>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="{{pageTexts.EMAIL()}}" class='main-login__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{pageTexts.PLEASE_INPUT_PASSWORD()}}">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="{{pageTexts.PASSWORD()}}" class='main-login__input' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <label
        nz-checkbox
        formControlName="isKeepLoggedIn"
      >
        <span class='main-login__checkbox'>{{pageTexts.KEEP_ME_LOGGED_IN()}}</span>
      </label>

      <button
        nz-button
        nzType="primary"
        class='main-login__form__submit-btn'
      >
        {{pageTexts.LOGIN()}}
      </button>

    </form>

    <hr class='gray-hr'>
    <span class='main-login__form__footer'>{{pageTexts.DO_NOT_HAVE_ACCOUNT()}} </span>
    <span
      class='main-login__form__footer--link no-outline'
      [routerLink]="['/home/register']"
    >
      {{pageTexts.REGISTER()}} 
    </span>
    <span class='main-login__form__footer'>{{pageTexts.OR()}} </span>
    <span
      class='main-login__form__footer--link no-outline'
      [routerLink]="['/home/recover-password']"
    >
      {{pageTexts.RECOVER_PASSWORD()}} 
    </span>

  </div>
</div>