@import 'colors';
@import 'fonts';

#user_image {
  width: 32px;
  height: 32px;
  border-radius: 100%;

  align-self: center;
}

#dropDownMenu {
  height: 150px;
  width: 160px;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
}

#burger-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    font-size: 25px;
  }
}

#logo {
  width: 160px;
  height: 80px;
}

.header__con {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    height: 100%;

    width: 150px;
  }

  &__right-menu {
    height: 75%;
    align-self: center;
    width: calc(100% - 150px);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__navigation-tabs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 30px;

      width: 100px;

      &__item {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 35px;

        h3 {
          font-size: 18px;
          height: fit-content;
          color: white;
        }
      }

      div:last-child {
        border-radius: 5em;
        background-color: $main-green;
        box-shadow: 0 2px 0 0 darkgreen;

        h3 {
          color: floralwhite;
        }
      }
    }

    &-with-user {
      &__con {
        height: 100%;
  
        display: flex;
        flex-direction: row;
    
        &__user-profile {
          height: 100%;
          width: 230px;
  
          &__con {
            height: 100%;
            cursor: pointer;
  
            display: flex;
            flex-direction: row;
  
            &__user-img {
              width: 80px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
  
            &__user-info {
              height: 100%;
              width: 150px;
              display: flex;
              flex-direction: column;
              justify-content: center;

              span:nth-child(1) {
                font-size: 16px;
                color: goldenrod;
              }

              span:nth-child(2) {
                font-size: 15px;
                color: $main-green;
              }

            }
          }
        }
      }
    }

    &-without-user {
      height: 100%;

      width: 200px;
  
      &__con {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
  
        &__action-btn {
          height: 100%;
          flex-grow: 1;

          cursor: pointer;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.header-drawer__con {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  &__action-btn {
    height: 40px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



.header-drawer__con--no-user {
  border: none;

  >li {
    padding: 0px;
  }

  span {
    font-family: $default-font-family !important;
  }
}

@media only screen and (max-width: 768px) {
  .header__con {
    padding: 20px 5%;

    &__logo {
      flex-grow: 8;
    }

    &__right-menu {
      width: 50px;
      height: 50px;
      opacity: 0.3;
      align-self: center;

      flex-grow: unset;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      border: 1px solid black;
      border-radius: 100%;;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 959px) {
  #burger-bar {
    justify-content: flex-end;
  }

  .header__con {
    padding: 20px 7%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .header__con {
    padding: 20px 10%;
  }
}

@media only screen and (min-width: 1280px) {
  .header__con {
    padding: 20px 15%;
  }
}