<div class='header__con'>
  <div class= 'header__con__logo pointer no-outline' [routerLink]="['/home']">
    <img src='assets/images/logo.png' id='logo'/>
  </div>

  <ng-container *ngIf='currentDevice === "MOBILE" || currentDevice === "TABLET"'>
    <div class='header__con__right-menu' id='burger-bar' (click)="toggleDrawer()">
      <i nz-icon nzType="menu" nzTheme="outline"></i>
    </div>
  </ng-container>

  <ng-container *ngIf='currentDevice === "DESKTOP"'>
    
    <div class='header__con__right-menu'>
      <div class=header__con__right-menu__navigation-tabs>
        <div class='header__con__right-menu__navigation-tabs__item pointer'>
          <h3>{{pageTexts.DONATE()}}</h3>
        </div>
      </div>

      <ng-container
        *ngIf="user"
      >
        <div class='header__con__right-menu-with-user__con'>
          <div
            class='header__con__right-menu-with-user__con__user-profile'
            [nzDropdownMenu]="menu"
            nz-dropdown nzTrigger="click"
          >
            <div class='header__con__right-menu-with-user__con__user-profile__con'>
  
              <div class='header__con__right-menu-with-user__con__user-profile__con__user-img'>
                <img src='assets/images/person_6x8.png' id='user_image'/>
              </div>
  
              <div class='header__con__right-menu-with-user__con__user-profile__con__user-info noselect'>
                <span>{{user.fullName}}</span>
                <span>{{userTitle}}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  
      <ng-container *ngIf="!user">
        <div class='header__con__right-menu-without-user'>
          <div class='header__con__right-menu-without-user__con'>
            <div
              class='header__con__right-menu-without-user__con__action-btn noselect no-outline'
              [routerLink]="['/home/login']"
            >
              <span>{{pageTexts.LOGIN()}}</span>
            </div>
            <div
              class='header__con__right-menu-without-user__con__action-btn noselect no-outline'
              [routerLink]="['/home/register']"
            >
              <span>{{pageTexts.REGISTER()}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </ng-container>
</div>

<nz-drawer [nzClosable]="true" (nzOnClose)="toggleDrawer()" [nzMaskClosable]="true" [nzVisible]="isDrawerVisible" [nzPlacement]="'left'" nzTitle="Menu">
  <ng-container *ngIf="!user">
    <div class='header-drawer__con'>
      <div
        class='header-drawer__con__action-btn noselect no-outline'
        [routerLink]="['/home/login']"
        (click)='toggleDrawer()'
      >
        <h3>{{pageTexts.LOGIN()}}</h3>
      </div>

      <div
        class='header-drawer__con__action-btn noselect no-outline'
        [routerLink]="['/home/register']"
        (click)='toggleDrawer()'
      >
        <h3>{{pageTexts.REGISTER()}}</h3>
      </div>

    </div>
  </ng-container>

  <ng-container *ngIf="user">
      <ul nz-menu class='header-drawer__con--no-user'>
        <li nz-menu-item><img src='assets/images/person_6x8.png' id='user_image'/></li>
        <li nz-menu-item [routerLink]='["/my-account/users/profile/" + user.id]'><span>{{pageTexts.MY_ACCOUNT()}}</span></li>
        <li nz-submenu nzTitle="{{pageTexts.CHANGE_LANGUAGE()}}">
          <ul>
            <li (click)="handleChangeLanguage('ENG')" nz-menu-item><span>English</span></li>
            <li (click)="handleChangeLanguage('VIET')" nz-menu-item><span>Vietnamese</span></li>
          </ul>
        </li>
        <li nz-menu-item (click)="handleSignOut()"><span>{{pageTexts.LOGOUT()}}</span></li>
      </ul>
  </ng-container>
</nz-drawer>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu id='dropDownMenu'>
    <li
      *ngIf='user'
      nz-menu-item
      [routerLink]='["/my-account/users/profile/" + user.id]'
      class='no-outline'
    >
      <p>{{pageTexts.MY_ACCOUNT()}}</p>
    </li>
    <li nz-submenu class='no-outline' nzTitle="{{pageTexts.CHANGE_LANGUAGE()}}">
      <ul>
        <li class='no-outline' (click)="handleChangeLanguage('ENG')" nz-menu-item><p>English</p></li>
        <li class='no-outline' (click)="handleChangeLanguage('VIET')" nz-menu-item><p>Vietnamese</p></li>
      </ul>
    </li>
    <li nz-menu-item (click)="handleSignOut()"><p>{{pageTexts.LOGOUT()}}</p></li>
  </ul>
</nz-dropdown-menu>