/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import 'fonts';
@import 'classes';
@import 'variables';

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0px !important;
  margin: 0px !important;
  font-family: $default-font-family;
}

div.ant-menu-submenu-title {
  padding: 0px !important;
}