<div class='con'>
  <div class='con__wrapper'>
    <div class='con__wrapper__general-info'>
      <div class='con__wrapper__general-info__album'>
        <div class='con__wrapper__general-info__album__main-img'>
          <img [src]='petData.imageUrls[currentCarouselImgIndex]'/>
        </div>

        <div class='con__wrapper__general-info__album__carousel'>
          <app-image-slider
            [slideMode]='"DRAG"'
          >
            <div
              class="con__wrapper__general-info__album__carousel__item"
              (click)='handleChangeImage(i)'
              [class.obscure]='i !== currentCarouselImgIndex'
              *ngFor='let imgSrc of petData.imageUrls; let i = index'
            >
              <img [src]='imgSrc'/>
            </div>
          </app-image-slider>
        </div>
      </div>
    
      <div class='con__wrapper__general-info__stats'>
        <div class='con__wrapper__general-info__stats__item'>
          <h3>{{pageTexts.NAME()}}:</h3>
          <h3 style='margin-left: 5px !important;'>{{petData.name}}</h3>
        </div>

        <div class='con__wrapper__general-info__stats__item'>
          <h3>{{pageTexts.BREED()}}:</h3>
          <h3 style='margin-left: 5px !important;'>{{petData.breed}}</h3>
        </div>

        <div class='con__wrapper__general-info__stats__item'>
          <h3>{{pageTexts.SIZE()}}:</h3>
          <h3 style='margin-left: 5px !important;'>{{petData.size}}</h3>
        </div>

        <div class='con__wrapper__general-info__stats__item'>
          <h3>{{pageTexts.SEX()}}:</h3>
          <h3 style='margin-left: 5px !important;'>{{petData.sex}}</h3>
        </div>

        <div class='con__wrapper__general-info__stats__item'>
          <h3>{{pageTexts.AGE()}}:</h3>
          <h3 style='margin-left: 5px !important;'>{{petData.age}}</h3>
        </div>

        <div class='con__wrapper__general-info__stats__item'>
          <h3>{{pageTexts.STATUS()}}:</h3>
          <h3 style='margin-left: 5px !important;'>{{petStatus}}</h3>
        </div>

        <div
          class='con__wrapper__general-info__stats__item'
          *ngFor='let property of petData.specialProperties'
        >
          <i nz-icon *ngIf='property.value' nzType='check-circle' nzTheme='twotone' [nzTwotoneColor]="'#52c41a'"></i>
          <i nz-icon *ngIf='!property.value' nzType="close-circle" [nzTwotoneColor]="'#c41a1a'" nzTheme="twotone"></i>
          <h3 style='margin-left: 5px !important;'>{{getPetSpecialPropertyName(property)}}</h3>
        </div>
      </div>
    </div>

    <div class='con__wrapper__detail'>
      <div class='con__wrapper__detail__row'>
        <div class='con__wrapper__detail__row__title'>
          <i nz-icon nzType="idcard" nzTheme="outline"></i>
          <h3>
            {{ petData.isAdopt ? pageTexts.OWNER_INFO() : pageTexts.FOUNDER_INFO() }}
          </h3>
        </div>
        <div class='con__wrapper__detail__row__content'>
          <div class='con__wrapper__detail__row__content__item'>
            <i nz-icon nzType="line" nzTheme="outline"></i><p>{{pageTexts.NAME()}}: {{petData.contact.name}}</p>
          </div>
          <div class='con__wrapper__detail__row__content__item'>
            <i nz-icon nzType="line" nzTheme="outline"></i><p>{{pageTexts.PHONE_NUMBER()}}: {{petData.contact.phone}}</p>
          </div>
          <div class='con__wrapper__detail__row__content__item'>
            <i nz-icon nzType="line" nzTheme="outline"></i><p>{{pageTexts.CURRENT_ADDRESS()}}: {{petData.contact.location}}</p>
          </div>
        </div>
      </div>

      <div class='con__wrapper__detail__row'>
        <div class='con__wrapper__detail__row__title'>
          <i nz-icon nzType="environment" nzTheme="outline"></i><h3>{{pageTexts.CURRENT_ADDRESS()}}</h3>
        </div>
        <div class='con__wrapper__detail__row__content'>
          <div class='con__wrapper__detail__row__content__item'>
            <i nz-icon nzType="caret-right" nzTheme="outline"></i><p>{{petData.location}}</p>
          </div>
        </div>
      </div>

      <div class='con__wrapper__detail__row'>
        <div class='con__wrapper__detail__row__title'>
          <i nz-icon nzType="read" nzTheme="outline"></i><h3>{{pageTexts.STORY()}}</h3>
        </div>
        <div class='con__wrapper__detail__row__content'>
          <p>{{petData.story}}</p>
        </div>
      </div>
    </div>

    <div class='con__wrapper__action-btns'>
      <button
        nz-button
        nzType="primary"
        nzShape='round'
        [nzLoading]='isLoading'
        *ngIf='shouldDisplayActionBtn()'
        (click)='handleChangePetStatus()'
      >
        {{isLoading ? '' : actionBtnMessage}}
      </button>
    </div>
  </div>
</div>

<app-scroll-top></app-scroll-top>