@import 'colors';
@import 'classes';

.con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $gray-background;

  &__wrapper {
    margin: 20px 0px;
    width: 65%;

    h3 {
      font-size: 20px;
    }

    &__general-info {
      width: 100%;
      padding: 20px;

      display: flex;
      flex-direction: row;
      background-color: white;

      &__album {
        width: 50%;
        max-width: 500px;
        display: flex;
        flex-direction: column;

        &__main-img {
          width: 100%;
          height: 300px;
          display: flex;
          flex-direction: row;
          justify-content: center;

          img {
            width: inherit;
            max-width: 500px;
            height: inherit;
          }
        }

        &__carousel {
          width: 100%;
          margin-top: 20px;

          &__item {
            width: 170px;
            height: 100px;
            margin-right: 10px;
            transition: filter 0.2s;

            img {
              width: inherit;
              height: inherit;
            }
          }
        }
      }

      &__stats {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        min-width: 50%;

        &__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 10px;

          label {
            width: 100%;
            margin-left: 0px !important;
            font-size: 18px;
          }
        }
      }
    }

    &__detail {
      width: 100%;
      padding: 20px;

      display: flex;
      flex-direction: column;
      background-color: white;

      &__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        i {
          font-size: 18px;
          height: fit-content;
          margin-right: 5px;
          margin-top: 3px;
        }

        &__title {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &__content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          &__item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
          }

          p {
            font-size: 16px;
            overflow-wrap: anywhere;
          }
        }
      }
    }

    &__action-btns {
      width: 100%;
      padding: 0px 20px 20px 20px;

      display: flex;
      flex-direction: column;
      background-color: white;

      button {
        font-size: 18px;
        height: 50px;
        max-width: 300px;
      }      
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 968px) {
  .con {
    &__wrapper {
      width: 80%;

      h3 {
        font-size: 18px;
      }

      &__general-info {
        flex-direction: column;
        align-items: center;

        &__album {
          width: 100%;
          margin-bottom: 20px;
        }

        &__stats {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;

          &__item {
            max-width: calc(100% / 3);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .con {
    &__wrapper {
      width: 90%;

      h3 {
        font-size: 18px;
      }

      &__general-info {
        flex-direction: column;
        align-items: center;

        &__album {
          width: 100%;
          margin-bottom: 20px;
        }

        &__stats {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;

          &__item {
            width: 100%;
          }
        }
      }
    }
  }
}